name: Clippy check

on:
  push:
    branches: ["**"]

env:
  RUSTFLAGS: "-Dwarnings"

permissions: {}

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: stable
          components: clippy
      - id: rustc
        uses: ./.github/actions/rust-info
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: dev-${{ steps.rustc.outputs.host }}
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
