name: Clippy check

on:
  push:
    branches: ["**"]

env:
  RUSTFLAGS: "-Dwarnings"

permissions: {}

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # master
        with:
          toolchain: stable
          components: clippy
      - id: rustc
        uses: ./.github/actions/rust-info
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: dev-${{ steps.rustc.outputs.host }}
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
