name: Clippy check

on:
  push:
    branches: ["**"]

env:
  RUSTFLAGS: "-Dwarnings"

permissions: {}

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331 # master
        with:
          toolchain: stable
          components: clippy
      - id: rustc
        uses: ./.github/actions/rust-info
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          key: dev-${{ steps.rustc.outputs.host }}
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
